* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* INIZIO HEADER */
header{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    min-height: 800px;
}

.container_header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.container_link {
    border: 1px transparent;
    width: 400px;
    padding: 5px;
    margin-top: 10px;
}

.container_logo_login {
    border: 1px transparent;
    width: 150px;
    margin-top: 10px;
    padding: 5px;
}

.login {
    border: 1px transparent;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding: 5px;
}

.link:link, .link:visited, .link:hover, .link:active {
    color : white;
    text-decoration: none;
    font-size: 18px;
}

ul, li{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    font-size: 20px;
}
/* FINE HEADER */

/* INIZIO CREAZIONE ELEMENTI*/
/* INIZIO CRAZIONE CONTAINER */
.container_main {
    max-width: 1200px;
    border: 1px solid transparent;
    margin: 0 auto;
}

/* FINE CRAZIONE CONTAINER */

/* INIZIO BUTTON */
.btn {
    border: 1px transparent;
    border-radius: 10px;
}
/* FINE BUTTON */

/* INIZIO BOX CONTAINER */
.box_image {
    width: 300px;
    height: 220px;
    border: 1px transparent;
    padding: 10px;

}
.box_text{
    width: 300px;
    height: 220px;
    border: 1px transparent;
    padding: 5px;

}
/* FINE BOX CONTAINER */
/* FINE CREAZIONE ELEMENTI*/

/* INIZIO PRIMA SEZIONE */
.txt_titolo{
    text-align: center;
    color: white;
    margin-top: 100px;
    font-size: 40px;
}

.sub_titolo{
    text-align: center;
    color: white;
    margin-top: 30px;
    font-size: 20px;
}

.btn {
    padding: 10px;
    margin-left: 30px;
    background-color: white;
    text-align: center;
    padding: 5px;
}

.spazio {
    display: inline-block;
    margin-left: 380px;
    margin-top: 35px;
}

.download{
    background-color: white;
    color: black;
    padding: 15px;
}

.open_discord{
    background-color: black;
    color: white;
    padding: 15px;
}
/* FINE PRIMA SEZIONE */

/* INIZIO SECONDA SEZIONE */
.section_due {
   background-color: white;
   height: 500px;
   display: flex;
   justify-content: space-between;
}

.txt_titolo_section{
    text-align: center;
    color: black;
    margin-top: 40px;
    font-size: 25px;
}

.sub_titolo_section{
    text-align: center;
    color: black;
    margin-top: 30px;
    font-size: 25px;
}
/* FINE SECONDA SEZIONE */

/* INIZIO TERZA SEZIONE */
.section_tre {
    height: 500px;
    display: flex;
    justify-content: space-between;
 }
 .sfondo_sezione {
    background-image: url(./img/wave.svg);
 }
.txt_titolo_section{
     text-align: center;
     color: black;
     margin-top: 40px;
     font-size: 25px;
 }
 
 .sub_titolo_section{
     text-align: center;
     color: black;
     margin-top: 30px;
     font-size: 25px;
 }

/* FINE TERZA SEZIONE */

/* INIZIO QUARTA SEZIONE */
.section_quattro {
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: space-between;
 }
 
 .txt_titolo_section{
     text-align: center;
     color: black;
     margin-top: 40px;
     font-size: 25px;
 }
 
 .sub_titolo_section{
     text-align: center;
     color: black;
     margin-top: 30px;
     font-size: 25px;
 }


/* FINE QUARTA SEZIONE */

/* INIZIO QUINTA SEZIONE */
.section_cinque{
    background-color: rgb(183, 183, 183);
}

/* FINE QUINTA SEZIONE */

/* INIZIO SESTA SEZIONE */
.section_sei{
    background-color: black;
}


/* FINE SESTA SEZIONE */

/* INIZIO SETTIMA SEZIONE */
.section_sette{
    background-color: black;
}


/* FINE SETTIMA SEZIONE */